# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# IDE/editor files
.idea/
.vscode/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python distribution files
*.egg
*.egg-info
dist/
build/
